.nav {
    width: 100%;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.nav li {
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 5px;
}

.nav a {
    color: black;
    text-decoration: none;
}

#img {
    max-height: 300px;
    max-width: 250px;
}
