.nav {
    width: 100%;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.nav li {
  margin-left: 10px;
}

.nav a {
    color: black;
    text-decoration: none;
}

#img {
    max-height: 300px;
    max-width: 250px;
}

.grid {
    display: grid;
    grid-template-columns: repeat (auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
